
Sample Letter.txt

WritingScript.app/Contents/Resources/applet.icns

Short Sample Letter.txt

WritingScript.app/Contents/Info.plist

WritingScript.app/Contents/MacOS/applet

WritingScript.app/Contents/PkgInfo

WritingScript.app/Contents/Resources/applet.rsrc

WritingScript.app/Contents/Resources/description.rtfd/TXT.rtf

WritingScript.app/Contents/Resources/Scripts/main.scpt
